.containerFirstPage {
    padding: 48px 0;
    margin: 0 auto;
    position: relative;
}

.textFirstPage {
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: #242a37;
    padding-bottom: 16px;
    text-align: center;
    width: 216px;
}

.containerFirstPage::after {
    content: '“';
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: #ff6b08;
    font-family: $font-abril_fatface;
    font-size: 59px;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
}

.line {
    width: 100px;
    border: none;
    height: 1px;
    background-color: rgba(36, 42, 55, 0.5);
    margin: 0 auto;
}

.nameFirstPage {
    margin-top: 12px;
    color: rgb(137, 143, 159);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
}

@media (width >= 768px) {
    .containerFirstPage {
        padding: 126px 0;
    }

    .containerFirstPage::after {
        top: 64px;
        position: absolute;
        color: #ff6b08;
        font-size: 69px;
        line-height: 93px;
    }

    .textFirstPage {
        padding-bottom: 20px;
        font-size: 24px;
        line-height: 38px;
        width: 397px;
    }

    .line {
        width: 150px;
    }

    .nameFirstPage {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
}
