.containerFirstPage {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 4px;
}

.textFirstPage {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: #242A37;
    padding-bottom: 16px;
    text-align: center;
    width: 229px;
}

.line {
    width: 100px;
    border: none;
    height: 1px;
    background-color: rgba(36, 42, 55, 0.5);
    margin: 0 auto;
}

.nameFirstPage {
    margin-top: 12px;
    color: rgb(137, 143, 159);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
}