$font-montserrat: var(--font-montserrat);
$font-roboto: var(--font-roboto);
$font-abril_fatface: var(--font-abril_fatface);

$background-color: #ffffff;
$second-background-color: #f5f7fa;
$authButton-color: #ff6b08;

$font-primary-color: #242a37;
$font-secondary-color: #707375;
$placeholder-color: #a6abb9;
