.googleButton {
    position: relative;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    margin-bottom: 28px;
    padding: 0 50px;
    color: rgb(112, 115, 117);
    font-size: 16px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    background-color: $second-background-color;
}

.googleIcon {
    position: absolute;
    top: 11px;
    left: 14px;
}
