.googleButton {
    // font-family: Roboto;
    margin: 0 auto;
    margin-bottom: 28px;
    color: rgb(112, 115, 117);
    font-size: 16px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
}