.logo {
    @include flex-center;
    padding: 16px 0;
    box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);

    &_text {
        width: 100%;
        font-family: $font-abril_fatface, serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        color: #242a37;
        text-transform: uppercase;
    }
}

@media (min-width: 768px) {
    .logo {
        width: 100%;
        padding: 16px 32px;
    }
}

@media (min-width: 1280px) {
    .logo {
        padding: 16px;
    }
}
