.signUpContainer {
    width: 100%;
    padding: 32px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:
        linear-gradient(rgba(9, 30, 63, 0.8), rgba(9, 30, 63, 0.8)),
        url('/img/hero.png') center / cover no-repeat;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    margin-bottom: 20px;
}

.signUpSubmitButton {
    font-family: Montserrat, sans-serif;
    background-color: $authButton-color;
    padding: 20px 70px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    border: none;
}

.loginNav {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.loginNavText {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: #898f9f;
}

.loginNavLink {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: #ff6b08;
}

@media (min-width: 768px) {
    .signUpContainer {
        padding: 64px 0;
    }

    .secondSignUpContainer {
        background-color: $background-color;

        padding: 40px;
    }

    .signUpForm {
        margin-bottom: 20px;
    }
}

@media (min-width: 1280px) {
    .signUpContainer {
        width: 549px;
        padding: 245px 74px;
    }
}
