.signInContainer {
    width: 100%;
    padding: 32px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:
        linear-gradient(rgba(9, 30, 63, 0.8), rgba(9, 30, 63, 0.8)),
        url('/img/hero.png') center / cover no-repeat;
}

.signInForm {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    margin-bottom: 16px;
}

.signInSubmitButton {
    font-family: Montserrat, sans-serif;

    background-color: $authButton-color;

    padding: 20px 70px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    border: none;
}

.registrationNav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrationNavLink {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: #ff6b08;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .signInContainer {
        padding: 64px 0;
    }

    .secondSignInContainer {
        background-color: $background-color;

        padding: 40px;
    }

    .signInForm {
        margin-bottom: 20px;
    }
}

@media (min-width: 1280px) {
    .signInContainer {
        width: 549px;
        padding: 245px 74px;
    }
}
