.plusBtn {
    background-color: $authButton-color;
    padding: 18px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    position: fixed;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
}

@media (width >= 768px) {
    .plusBtn {
        display: none;
    }
}
